<div class="container bg-white mt-5 p-5">
  <div class="row my-5 py-5">
    <div class="col-12">
      <h4>Tasks</h4>
    </div>
    <div class="col-12">
        <div *ngFor="let user of this.gSuiteUsers">
          {{user.primaryEmail}}   ------
          {{user.name.fullName}}   ------
          {{user.isEnrolledIn2Sv}}
        </div>
    </div>

    <div class="col-12">
      <button class="btn btn-default" (click)="disconnect()">
        disconnect
      </button>
    </div>
  </div>
</div>
